.HomeNav {
    .v-btn--contained {
        background-color: unset !important;
        box-shadow: unset !important;
    }
    .v-menu {
        display: unset;
    }
    .v-application--wrap {
        min-height: unset;
    }
    // .v-input__slot {
    //     margin-left: ;
    //                   style="width:50%; position:absolue; left: 25%"
    // }
}