.home {
  .v-dialog--active {
    top: 3%;
    position: absolute;
    left: 68%;
    width: 25% !important;
    max-width: unset !important;
  }
  .v-window__prev {
    background: unset !important;
  }
  .v-window__next {
    right: 5px !important;
    background: unset !important;
  }
  .v-carousel__controls {
    background: unset !important;
  }
  .v-window__prev .mdi-chevron-left {
    font-size: 100px !important;
  }
  .v-window__next .mdi-chevron-right {
    font-size: 100px !important;
  }
}
