.shoppingDetail {
    .v-slide-group__content v-tabs-bar__content {
        background-color: #f8f9fa !important;
    }
    .v-slide-group__wrapper {
        background-color: #f8f9fa !important;
    }
    .v-window__prev {
        background: unset !important;
    }
    .v-window__next {
        right: 5px !important;
        background: unset !important;
    }
    .v-carousel__controls {
        background: unset !important;
    }
    .v-window__prev .mdi-chevron-left {
        font-size: 100px !important;
    }
    .v-window__next .mdi-chevron-right {
        font-size: 100px !important;
    }
    .vApp {
        display: none;
    }
}